Package: com.ex.substitute
Architecture: iphoneos-arm
Name: Substitute
Depiction: http://jslinux.org
Author: comex <comexk+da@gmail.com>
Priority: optional
Version: 0.0.0+196+g29c86ae+dirty
Description: Substrate substitute for code substitution
Maintainer: comex <comexk+dm@gmail.com>
Section: System
Depends: firmware (>= 8.0)

